# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*/.ipynb_checkpoints/*
.DS_Store

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
outputs/
.empty/
checkpoint/
qatask/database/wikipedia_faiss/wikipedia_pyserini_format.json
.installed.cfg
*.egg

# Data
logs/*
outputs/*
qatask/database/wikipedia_db/*
qatask/database/datasets/*
qatask/database/datasets/data_wiki_cleaned/*
qatask/database/datasets/train_test_files/*
saved_models/*
qatask/database/wikipedia_faiss/*
qatask/database/wikipedia_faiss/wikipedia_pyserini_format.jsonl
datasets/*
.vscode-upload.json
